*{
    margin: 0;
    padding: 0;
}

body{
    /* background-color: #e3f9ff; */
    background-color:rgb(68, 68, 68);
   
}
#container{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #3a4452;
    width: 90vw;
    margin: auto;
    border-radius: 20px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.2);
    position: relative;
    top: 45px;

}
#container:hover{
    animation: containeranimation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
   
}
button{
    height: min(15vh,15vw);
    width: min(15vh,15vw);
    font-size: 3vh;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    margin: 10px;
    border: 2px solid #3a4452;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    background: transparent;
    outline: 0;
    color: white;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.2);

}
button:hover{
    font-size:5vh ;
    animation: rotateTransform;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

}
button:active{
    animation: resize;
    animation-duration: 0.1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}
#textbox{
    height: 5vh;
    width: 50vw;
    margin-bottom: 30px;
    margin-top: 10PX;
    border: 2px solid #3a4452;
    border-radius: 10px;
    font-size: 3vw;
    font-weight: bold;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    padding: 2vw;
    text-align: right;
    outline: 0;
    background: transparent;
    color: white;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.2);

    /* animation: textbox;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate; */

}
#btn44{
    width: 30vw;
    height: 15vh;
    margin-bottom: 8vw;
    font-size: 7vh;
}
.operator{
    color: cyan;
    font-size: 4vw;
}


@keyframes rotatez {
   from{transform: rotateZ(0deg);}
   to{transform:rotateZ(360deg)}
    
}
@keyframes resize{
    from{transform: scale(1.3);}
    to{transform: scale(0.7);}
}
@keyframes rotateTransform {
    from{
        transform: rotateZ(360deg)  scale(1.3);
    }
    to{
        transform: rotateZ(0deg)  scale(0.5);
    }
    
}
@keyframes textbox {
    from{transform: scale(0.6);}
    to{transform: scale(1);}
}
@keyframes containeranimation {
    from{transform: scale(1);}
    to{ transform:scale(1.1)}
}